.life {
  margin-top: 30px;
  .life-good {
    float: left;
    width: 390px;
    margin-right: 10px;
    background-color: #fff;
    .good-list {
      padding: 10px 10px 17px;
      margin-left: -1px;
      width: 370px;
      overflow: hidden;
      li {
        float: left;
        width: 184px;
        height: 120px;
        overflow: hidden;
        border-bottom: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        &:nth-child(2n) {
          border-right: none;
        }
        &:nth-child(5),
        &:nth-child(6) {
          border-bottom: none;
        }
        a {
          position: relative;
          display: block;
          width: 185px;
          height: 120px;
          span {
            position: absolute;
            left: 20px;
            top: 17px;
            width: 70px;
          }
          img {
            position: absolute;
            right: 10px;
            bottom: 6px;
            width: 80px;
            height: 80px;
            vertical-align: top;
            transition: transform 0.6s;
            &:hover {
              transform: translateX(-8px)
            }
          }
        }
      }
    }
  }
  .life-special {
    float: left;
    margin-right: 10px;
    width: 390px;
    background-color: #fff;
    &:hover {
      .special-wrapper {
        .prev,
        .next {
          display: block;
        }
      }
    }
    .special-wrapper {
      position: relative;
      text-align: center;
      height: 390px;
      .prev,
      .next {
        display: none;
        position: absolute;
        top: 44%;
        margin-top: -11px;
        width: 15px;
        height: 40px;
        line-height: 40px;
        background-color: #f6f6f6;
        text-align: center;
        font-size: 12px;
      }
      .prev {
        left: 0;
      }
      .next {
        right: 0;
      }
      .point-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -36px;
        display: inline-block;
        margin-top: 13px;
        padding-bottom: 15px;
        span {
          float: left;
          width: 8px;
          height: 8px;
          margin: 0 7px;
          border-radius: 50%;
          background-color: #c8c8c8;
          &.active {
            background-color: #e01222;
          }
        }
      }
    }
    .special-list {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 20px;
      .up,
      .down {
        border-bottom: 1px solid #eee;
        margin-top: 26px;
        padding-bottom: 5px;
        p {
          margin-bottom: 16px;
          text-align: left;
        }
        img {
          width: 110px;
          line-height: 110px;
          margin: 0 2px;
        }
      }
      .down {
        margin-top: 16px;
        border: none;
      }
    }
  }
  .life-ranking {
    float: left;
    width: 390px;
    height: 445px;
    background-color: #fff;
    .tab-button-wrapper {
      position: relative;
      .tab-line {
        position: absolute;
        top: 32px;
        left: 12px;
        width: 58px;
        height: 2px;
        background-color: #f10214;
      }
      .tab-button {
        margin: 0 12px;
        padding-bottom: 7px;
        border-bottom: 1px solid #e7e7e7;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
          margin-top: 6px;
          padding: 0 12px;
          font-size: 14px;
          border-right: 1px solid #d2d1d1;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            border: none;
            padding-right: 0;
          }
          &:hover {
            color: red;
          }
        }
      }
    }
    .tab-content {
      position: relative;
      .tab-list {
        display: none;
        position: absolute;
        top: 13px;
        left: 10px;
      }
      padding: 10px 11px 10px 10px;
      li {
        float: left;
        position: relative;
        box-sizing: border-box;
        width: 123px;
        padding: 13px 10px;
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        &:nth-child(3n) {
          border-right: none;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6), {
          border-bottom: none;
        }
        img {
          width: 100px;
        }
        span {
          display: block;
        }
        .rank-num {
          position: absolute;
          top: 13px;
          left: 13px;
          width: 30px;
          height: 40px;
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          margin-top: 1px;
          color: #fff;
          background-image: url('../imgs/sprite_index@2x.png');
          background-size: 170px 158px;
          background-position: -40px -80px;
          &.num1 {
            background-position: -84px -30px;
          }
          &.num2 {
            background-position: -84px -30px;
          }
          &.num3 {
            background-position: -84px -30px;
          }
        }
      }
    }
  }
}