.left-side {
  position: absolute;
  top: 84px;;
  left:10px;
  width:33px;
  ul {
    li {
      padding:10px 0;
      text-align: center;
      z-index: 100;
      border-bottom: 1px solid #bab4b4;
      width: 33px;
      color: #fff;
      background-color:#9e9696; 
      &.active {
      background-color: #db2837;
    }
    }
    li:hover {
      background-color: #db2837;
    }
    
  }
}