.banner {
  margin-top: 20px;
  background-color: #e0e0e0; }
  .banner > div:after {
    content: "";
    display: block;
    clear: both; }
  .banner > div > img {
    float: left;
    vertical-align: top; }
