body {
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
  color: #666;
  margin: 0;
  background-color: #f6f6f6; }

* {
  margin: 0;
  padding: 0; }

.layout {
  margin: 0 auto;
  width: 1190px; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix {
  *zoom: 1; }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

input,
select,
option {
  outline: none; }

select {
  background-color: #fff;
  margin: 0;
  padding: 0; }

.enter-active {
  position: relative;
  background-color: #e01222;
  color: #fff; }

.enter-active:after {
  content: "";
  position: absolute;
  left: 43%;
  bottom: -4px;
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid #e01222;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.title-background {
  position: relative;
  height: 54px;
  background: url(../imgs/seckill_hd.png) no-repeat;
  color: #fff; }

.title-background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../imgs/sprite_index@2x.png);
  background-position: -118px -80px;
  background-size: 166px 150px;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px; }

.general-head {
  position: relative;
  z-index: 1;
  width: 390px;
  height: 55px;
  line-height: 55px;
  background-color: #2e828b;
  color: #ffffff; }
  .general-head.purple {
    background-color: #672f74; }
  .general-head.orange {
    background-color: #e45d04; }
  .general-head:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden; }
  .general-head .title {
    float: left;
    margin-left: 30px;
    font-size: 20px; }
  .general-head .more {
    margin-right: 20px;
    float: right;
    vertical-align: middle; }
    .general-head .more .icon-right1 {
      position: relative;
      top: 2px;
      margin-left: 5px; }
  .general-head .triangle-transparent,
  .general-head .triangle-color {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent; }
  .general-head .triangle-transparent {
    top: 0;
    left: 0;
    z-index: 10;
    border-top: 10px solid #fff;
    border-left: 10px solid #fff; }
  .general-head .triangle-color {
    top: 3px;
    left: 3px;
    z-index: 11;
    border-top: 8px solid #328089;
    border-left: 8px solid #328089; }
    .general-head .triangle-color.triangle-purple {
      border-top: 8px solid #76488e;
      border-left: 8px solid #76488e; }
    .general-head .triangle-color.triangle-orange {
      border-top: 8px solid #c9540d;
      border-left: 8px solid #c9540d; }
