.header {
  position: relative;
  padding-top: 25px;
  height: 114px; }
  .header .search-wrapper {
    margin: 0 auto;
    width: 550px; }
    .header .search-wrapper .search {
      position: relative; }
      .header .search-wrapper .search input {
        padding-left: 4px;
        height: 33px;
        line-height: 33px;
        width: 494px;
        border: 1px solid #f10316; }
      .header .search-wrapper .search .icon-camera {
        position: absolute;
        top: 4px;
        right: 64px;
        font-size: 20px;
        color: #828282; }
      .header .search-wrapper .search .icon-search {
        padding: 0 16px;
        font-size: 18px;
        height: 35px;
        line-height: 35px;
        background-color: #f10215;
        color: #fff; }
    .header .search-wrapper .recommend {
      margin-top: 10px; }
      .header .search-wrapper .recommend li {
        float: left;
        margin-right: 10px;
        white-space: nowrap;
        line-height: 1;
        color: #999; }
        .header .search-wrapper .recommend li.color-red {
          color: #f10316; }
        .header .search-wrapper .recommend li:hover {
          color: #f10316; }
  .header .logo {
    position: absolute;
    top: -31px;
    left: 0; }
    .header .logo a {
      display: block;
      width: 190px;
      height: 170px;
      background: #fff url(../imgs/logo.v2@2x.png) no-repeat;
      background-size: contain; }
  .header .cart {
    position: absolute;
    top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    right: 100px;
    height: 33px;
    line-height: 33px;
    background-color: #ffffff;
    border: 1px solid #e3e4e5;
    color: #f10315; }
    .header .cart .title {
      padding: 0 5px; }
    .header .cart .icon-cart {
      font-weight: 700; }
    .header .cart .count {
      position: absolute;
      top: 5px;
      right: 36px;
      background-color: #f10215;
      color: #fff;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center; }
  .header .classify {
    position: absolute;
    left: 200px;
    bottom: 12px; }
    .header .classify li {
      float: left;
      font-size: 16px;
      font-weight: 700;
      color: #795555; }
      .header .classify li a {
        margin-left: 30px; }
    .header .classify .line {
      padding: 0 20px; }
      .header .classify .line + li a {
        margin-left: 0; }

.fixed-search-wrapper {
  margin: 0 auto;
  width: 550px; }
  .fixed-search-wrapper .fixed-search {
    position: relative; }
    .fixed-search-wrapper .fixed-search input {
      padding-left: 4px;
      height: 35px;
      line-height: 35px;
      width: 496px;
      background-color: #efefef;
      border: none;
      outline: none; }
    .fixed-search-wrapper .fixed-search .icon-camera {
      position: absolute;
      top: 4px;
      right: 64px;
      font-size: 20px;
      color: #828282; }
    .fixed-search-wrapper .fixed-search .icon-search {
      padding: 0 16px;
      font-size: 18px;
      height: 35px;
      line-height: 35px;
      background-color: #f10215;
      color: #fff; }

.search-fixd {
  position: fixed;
  display: none;
  z-index: 9999;
  top: 0;
  width: 100%;
  padding-top: 8px;
  height: 40px;
  background-color: #fff;
  border-bottom: 3px solid #f10214; }
  .search-fixd div {
    position: relative; }
    .search-fixd div img {
      position: absolute;
      width: 125px;
      height: 40px;
      top: -1px;
      left: 0; }
