.more-goods ul {
  margin-right: -10px; }
  .more-goods ul li {
    float: left;
    width: 218px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #fff; }
    .more-goods ul li:hover {
      border: 1px solid red; }
    .more-goods ul li img {
      width: 220px;
      height: 220px;
      vertical-align: top; }
    .more-goods ul li p {
      margin-top: 6px;
      padding: 0 10px;
      height: 36px;
      overflow: hidden; }
      .more-goods ul li p:last-child {
        color: #f10214; }
