.navigation .side-tool {
  float: left;
  width: 190px;
  height: 480px;
  background-color: #ffffff; }
  .navigation .side-tool .user {
    padding: 15px;
    width: 190px -32px;
    border-bottom: 1px solid #e6e6e6; }
    .navigation .side-tool .user .avatar {
      position: relative;
      width: 50px;
      height: 50px;
      text-align: center; }
      .navigation .side-tool .user .avatar img {
        width: 38px;
        height: 38px;
        line-height: 50px;
        padding: 4px;
        border: 2px solid #c9a65b;
        border-radius: 50%; }
      .navigation .side-tool .user .avatar a {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px; }
    .navigation .side-tool .user .welcom {
      height: 43px;
      padding-top: 7px;
      margin-left: 58px; }
      .navigation .side-tool .user .welcom p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 18px; }
      .navigation .side-tool .user .welcom a {
        line-height: 18px; }
    .navigation .side-tool .user .boon {
      margin-top: 10px; }
      .navigation .side-tool .user .boon a {
        float: left;
        width: 70px;
        line-height: 20px;
        text-align: center;
        border: 2px solid #e01222; }
        .navigation .side-tool .user .boon a:first-child {
          margin-right: 10px; }
        .navigation .side-tool .user .boon a:hover {
          color: #fff;
          background-color: #e01222; }
  .navigation .side-tool .bulletin {
    padding: 0 15px; }
    .navigation .side-tool .bulletin .bulletin-title {
      position: relative;
      padding-top: 8px;
      padding-bottom: 4px;
      border-bottom: 1px solid #e6e6e6;
      line-height: 16px; }
      .navigation .side-tool .bulletin .bulletin-title span:first-child {
        padding-left: 2px;
        padding-right: 13px;
        border-right: 1px solid #e6e6e6; }
      .navigation .side-tool .bulletin .bulletin-title span:nth-child(2) {
        padding-left: 15px; }
      .navigation .side-tool .bulletin .bulletin-title .bottom-line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 28px;
        height: 2px;
        background-color: #db192b; }
    .navigation .side-tool .bulletin .bulletin-content {
      padding-top: 12px;
      padding-bottom: 20px; }
      .navigation .side-tool .bulletin .bulletin-content ul {
        display: none; }
        .navigation .side-tool .bulletin .bulletin-content ul li {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .navigation .side-tool .bulletin .bulletin-content li a {
        line-height: 24px; }
  .navigation .side-tool .tools {
    position: relative;
    width: 190px;
    overflow: hidden; }
    .navigation .side-tool .tools .tool-panel {
      width: 191px; }
      .navigation .side-tool .tools .tool-panel ul {
        margin-left: -1px; }
        .navigation .side-tool .tools .tool-panel ul li.tool-show {
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear;
          height: 24px;
          line-height: 24px; }
          .navigation .side-tool .tools .tool-panel ul li.tool-show .iconfont {
            -webkit-transition: all 0.1s linear;
            transition: all 0.1s linear;
            padding-top: 0;
            height: 0;
            color: transparent; }
          .navigation .side-tool .tools .tool-panel ul li.tool-show span {
            border-top: 3px solid transparent; }
          .navigation .side-tool .tools .tool-panel ul li.tool-show span.active {
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            border-top-color: #e01121;
            color: #e01121; }
        .navigation .side-tool .tools .tool-panel ul li.tool-hide {
          border: none;
          height: 0; }
      .navigation .side-tool .tools .tool-panel li {
        float: left;
        width: 47px;
        height: 69px;
        text-align: center;
        border-top: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .navigation .side-tool .tools .tool-panel li .iconfont {
          padding-top: 15px; }
        .navigation .side-tool .tools .tool-panel li i,
        .navigation .side-tool .tools .tool-panel li span {
          display: block;
          width: 47px; }
    .navigation .side-tool .tools .form {
      position: absolute;
      top: 27px;
      left: 0;
      z-index: 100; }
      .navigation .side-tool .tools .form .iconfont {
        position: absolute;
        top: 3px;
        right: 3px;
        color: red; }
